{% from "showlinks.html" import show_links, showsocialmedialinks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FLASK-CRUD_APP_register_page.</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css')}}" type = "text/css">
    <style>
      #changer{
        background-color: violet;
      }
     </style>
</head>
<body style="background-image: url('/static/styles/table.jpg');background-size: cover;">
      <div class="parent">
        
        <div class="child child3">
          {{ show_links() }}
      </div>


        <div class="child child6 container" style="color:rgb(0, 75, 93);">
          <h3>Sign Up Form {% if registererror %} {{registererror}} {% endif %} </h3>
          <hr>
          <form class="p-3 m-5" style="max-width: 400px;" action="/register" method = "POST">
            <div class="container mt-3">
              <div class="form-floating mb-3 mt-3">
                <input type="text" class="form-control" name="name" id="exampleInputEmail" placeholder="Enter email" name="email">
                <label for="email">Email</label>
              </div>
              <div class="form-floating mt-3 mb-3">
                <input type="password" name="password" class="form-control" id="exampleInputPassword" placeholder="Enter password" name="pswd">
                <label for="pwd">Password</label>
              </div>
              <button type="submit" class="btn btn-success"><span class="spinner-grow spinner-grow-sm" ></span>Register</button>
          </form>
        </div>
 
      </div>

</body>
</html>